/* HEADER */

@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Orbitron:700');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400|Athiti:300,400|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
* {
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-style: none;
    list-style: none;
    color: #888;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    /* font-family: 'Quicksand', sans-serif; */
    /* background-image: url(../images/galaxy.jpeg); */
    /* background-image: url("https://images7.alphacoders.com/331/thumb-1920-331742.jpg");
	background-image: url("https://images2.alphacoders.com/667/thumb-1920-667542.jpg");
	background-image: url("https://images8.alphacoders.com/416/thumb-1920-416024.jpg");
    background-image: url("https://images2.alphacoders.com/441/thumb-1920-441503.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-decoration: none;
    transition: all .2s ease-in-out;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

a {
    color: rgb(0, 0, 102);
}

a:hover {
    text-decoration: none;
    color: red;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    text-shadow: 1px 1px 5px rgb(179, 176, 176);
    font-family: 'Russo One', sans-serif;
}

.is-sticky #header-div {
    background-color: #fff;
    box-shadow: 2px 2px 10px rgb(77, 76, 76);
    height: 70px;
    opacity: 1;
}

/* Navbar */

#header-div {
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    text-align: center;
    transition: 1s;
    font-weight: bold;
    display: flex;
}

.logoDiv {
    display: flex;
    width: auto;
    margin-right: 5px;
    padding: 0;
}

.navbarItems {
    padding: 5px 15px 0 10px;
}

.navbarItems a {
    color: #000;
}

.mylogo {
    height: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0;
}

.navbarDiv {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    line-height: 60px;
    width: 80%;
}

.link-1 {
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    border-top: px solid #3fa46a;
    border-bottom: px solid #3fa46a;
    padding: 20px 0;
}

.link-1:hover {
    border-top: 4px solid #ff0000;
    border-bottom: 4px solid #ff0000;
    padding: 6px 0;
}

/* Navbar End */

/* Landing Page */

#landingPageDiv {
    opacity: 0.5;
    height: 100vh;
    background-image: url(../images/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 2s ease;
}

#landingPageDiv:hover {
    opacity: 1;
}

.flexboxlandingpage {
    padding-top: 12%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.hello {
    color: red;
    font-weight: bold;
    margin: 0;
    font-weight: 800;
    font-family: "Roboto Condensed", sans-serif;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes bounce {
    0% {
        top: 0px;
    }
    50% {
        top: 10px;
        width: 130px;
        height: 30px;
        opacity: 0.5;
    }
    100% {
        top: 0px;
    }
}

.itemslandingpage img {
    opacity: 1;
    z-index: 1;
}

.itemslandingpage h1 {
    color: #fff;
}

.fullstackdeveloper {
    color: #fff;
    margin: 0;
    font-size: 3em;
    font-weight: 800;
    font-family: "Roboto Condensed", sans-serif;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.landingpageintroduction h4 {
    color: #fff;
}

/* Landing Page End */

/* Introduction */

#intro-div {
    font-weight: bold;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#name-pic {
    opacity: 0.7;
    padding-bottom: 24px;
    text-align: center;
}

#name-pic h1 {
    font-size: 5rem;
}

#name-pic h3:hover {
    position: relative;
    top: -5px;
}

.class h1 {
    text-transform: uppercase;
}

#about-me {
    font-size: 14px;
}

.about-me img {
    width: 120px;
    border-radius: 50%;
    border: 3px solid #ccc;
}

.about-me {
    padding-right: 10px;
    text-align: center;
}

.about-me h2 {
    text-align: center;
}

.myDescription {
    color: #888;
    font-size: 1.2em;
}

.btn-link {
    margin-left: 2em;
    font-weight: bold;
}

.btn-link:hover {
    color: red;
    text-decoration: none;
    transition: all 1s;
}

.info tr th span {
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    color: #888;
}

/* Introduction End */

/* Resume  */

#myresumelink {
    background-color: #888;
    border: 1px solid #000;
    font-weight: bold;
    border-radius: 0;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 30px;
}

#myresumelink:hover {
    /* border: 1px solid rgb(146, 236, 123); */
    background-color: #fff;
    color: #000;
    transition: all 1s;
    cursor: pointer;
}

#myresumelink:before {
    content: "Download Resume";
}

#myresumelink:hover:before {
    top: -10px;
}

#myresumelink {
    margin-left: 8%;
}

/* Resume End */

/* HEADER END */

/* Random Quote  */

#randomQuoteDiv {
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 60px 0;
    height: auto;
}

#randomQuoteDiv p {
    color: rgb(5, 5, 5);
    padding-top: 20px;
    font-size: 1.4em;
    margin: auto;
    font-weight: bold;
    text-shadow: none;
}

#random-quote {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

/* Random Quote End */

/* Resume Section  */

/* 3.2. SECTION TITLE */

.section--title .h2 {
    display: inline-block;
    position: relative;
    margin-top: -8px;
    padding-bottom: 16px;
    z-index: 0;
}

.section--title .h2:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 130px;
    height: 1px;
    margin: 0 auto;
    background-color: #ff305b;
}

.section--title .h2:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 90px;
    height: 1px;
    margin: 0 auto;
    background-color: #181818;
}

.section--title .h2.text-white:before {
    background-color: #fff;
}

/* 5.3. TIMELINE BLOCK */

.timeline--block .title .h5 {
    position: relative;
    margin-top: -6px;
    padding-bottom: 17px;
    color: #414141;
    text-align: center;
    text-transform: uppercase;
    z-index: 0;
    font-size: 2em;
    margin-top: 30px;
}

.timeline--block .title .h5:before, .timeline--block .title .h5:after {
    content: " ";
    position: absolute;
    left: 15px;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 5px;
    margin: 0 auto;
    background-color: #181818;
}

.timeline--block .title .h5:after {
    left: 0;
    right: 25px;
    background-color: #ff305b;
}

.timeline--block .sub-title {
    max-width: 600px;
    margin: 26px auto 27px;
    text-align: center;
}

/* 6.2. TIMELINE ITEMS */

.timeline--items {
    margin-top: 52px;
}

.timeline--items>li {
    position: relative;
    width: 50%;
    margin-left: 50%;
    padding-top: 20px;
    padding-left: 80px;
    z-index: 0;
}

.timeline--items>li:first-child {
    padding-top: 0;
}

.timeline--items>li:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    border-left: 4px solid #e5e5e5;
}

.timeline--items>li:nth-child(even) {
    margin-left: 0;
    padding-left: 0;
    padding-right: 80px;
}

.timeline--items>li:nth-child(even):before {
    left: auto;
    right: -2px;
}

.timeline--items>li:last-child:after {
    content: " ";
    position: absolute;
    left: -15px;
    bottom: 0;
    width: 30px;
    height: 4px;
    background-color: #e5e5e5;
}

.timeline--items>li:nth-child(even):last-child:after {
    left: auto;
    right: -15px;
}

.timeline--item {
    position: relative;
    background-color: #fff;
    z-index: 0;
}

.timeline--item:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: -80px;
    width: 80px;
    height: 1px;
    background-color: #e5e5e5;
}

.timeline--items>li:nth-child(even) .timeline--item:before {
    left: auto;
    right: -80px;
}

.timeline--item .icon {
    content: "\f19d";
    position: absolute;
    top: 50%;
    left: -100px;
    width: 40px;
    margin-top: -20px;
    color: #181818;
    font-family: "FontAwesome";
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.timeline--items>li:nth-child(even) .timeline--item .icon {
    left: auto;
    right: -100px;
}

.timeline--item .info, .timeline--item .content {
    display: table-cell;
    vertical-align: top;
}

.timeline--item .table tbody tr td {
    min-width: 190px;
    padding: 0;
    border: 1px solid #e5e5e5;
}

.timeline--item .info {
    min-width: 190px;
}

.timeline--item .date {
    position: relative;
    margin: -1px -1px 0;
    padding: 7px 20px 5px;
    z-index: 0;
}

.timeline--item .bottom {
    padding: 16px 20px 15px;
}

.timeline--item .name {
    margin-top: 0;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    text-align: left;
}

.timeline--item .institute {
    margin-top: 6px;
    margin-bottom: 1px;
    color: #555;
}

.timeline--item .content {
    padding: 22px 30px 22px;
}

.timeline--item .info+.content {
    border-left-width: 0;
}

/* Resume Section End  */

/* Skills */

#skillWrapperContainer {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    padding-bottom: 90px;
    padding-top: 30px;
    margin: 0;
}

.logo-circle {
    background-color: white;
}

.logo-circle h1 {
    text-align: center;
}

.logo-circle img {
    border-radius: 100%;
    border: 1px solid black;
    background-color: green;
}

#skill-page, #mySkills {
    border: none;
    color: #000;
}

#mySkills h2 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

#skillContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid rgb(121, 120, 120); */
    padding: 5px 30px;
    margin-top: 10px;
    /* border-top-right-radius: 40px; */
    box-shadow: 10px -2px 15px rgb(170, 182, 194);
}

#skillContainer h3 {
    font-weight: bolder;
}

#skillItemContainer {
    padding: 10px;
    margin: 10px;
}

#skillItemContainer img {
    margin: 0px 10px;
    border-radius: 10px;
    transition: all 3s ease-in-out;
}

#skillItemContainer img:hover {
    transform: rotate(1080deg);
}

.skill-img {
    width: 60px;
}

#skillContainer-1 h3 {
    font-weight: bolder;
}

#skillContainer-1 {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #fff; */
    justify-content: center;
    /* border: 1px solid rgb(121, 120, 120); */
    padding: 5px 30px;
    margin-top: 120px;
    /* border-bottom-left-radius: 40px; */
    box-shadow: -2px 2px 5px rgb(170, 182, 194);
}

/* Skills End */

/* Projects */

#my-recent-project {
    margin: -15px 0;
}

#myprojectContainer {
    margin: 0;
    padding-top: 10px;
    /* background-color: #ddd; */
}

.projectFlexbox {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.projectFlexboxItem {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: auto;
    margin: 20px 0;
    border: 1px solid rgb(168, 166, 166);
    box-shadow: 2px 5px 11px #888;
    /* border-radius: 10px; */
}

.projectHeaderflexbox {
    border: 1px solid rgb(168, 166, 166);
    background-color: #3F729B;
    height: 40px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.projectHeaderflexbox h3 {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    position: relative;
    top: -12px;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img--block img {
    border: 1px solid rgb(168, 166, 166);
    box-shadow: 2px 5px 11px #888;
    border-radius: 5%;
}

.img-container img {
    height: 250px;
    width: 400px;
    max-width: 100%;
    transition: all 0.9s;
}

.img-container img:hover {
    transform: scale(1.1);
}

.projectIconFlexbox {
    /* border: 1px solid red; */
    background-color: #0099CC;
    padding-left: 50px;
    height: 40px;
}

.projectIconFlexbox img {
    margin-top: 5px;
    margin-left: 10px;
    width: 25px;
}

.projectDescriptionContainerFlexbox {
    padding-left: 20px;
    height: 130px;
}

.btn-jeopardy {
    align-content: center;
}

/* Project End */

/* Social Media Icon Sticky  */

#social-media-icon {
    position: fixed;
    top: 30%;
    left: 0;
    background: #ddd;
    border-right: 6px solid#3F729B;
    border-top: 1px solid #3F729B;
    border-bottom: 1px solid r#3F729B;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 9999;
    width: 50px;
}

#social-media-icon ul {
    list-style-type: none;
}

#social-media-icon ul li {
    display: flex;
    justify-content: center;
}

#social-media-icon ul li a {
    display: block;
    color: rgb(10, 32, 68);
    padding-left: 10px;
    /* transition: transform .5s ease-in-out; */
}

#social-media-icon i {
    font-size: 30px;
    padding: 8px 5px 0 0;
    color: #3F729B;
}

#social-media-icon i:hover {
    font-size: 30px;
    padding: 8px 5px 0 0;
    color: #ff4444;
    transition: 1s all;
}

#social-media-icon ul li a:hover {
    transform: rotate(720deg)
}

.social-icon-wrapper {
    padding-top: 10px;
}

.social-icon-wrapper li p {
    color: blue;
    vertical-align: top;
}

/* Social Media Icon Sticky End */

/* Footer  */

#copyright {
    border-top: 1px solid #888;
    background-color: #c8d6e5;
    color: #222f3e;
    padding-top: 10px;
}

#copyright p {
    text-align: center;
}

/* Footer End */

/* 1.2. MEDIUM DEVICES, DESKTOPS */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 0) and (max-width: 768px) {
    .container-a {
        padding: 0 1.225em 2.5em;
    }
}

@media (min-width: 769px) {
    .container-a {
        padding: 0 2.25em 2em;
    }
    .photo-container {
        width: 48%;
        float: left;
        margin-left: 4%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .paddinghoto-container:nth-child(2n+1) {
        margin-left: 0;
        clear: left;
    }
}

@media (min-width: 1025px) {
    .photo-container {
        width: 30.63973064%;
    }
    .photo-container:nth-child(3n+1) {
        margin-left: 0;
        clear: left;
    }
}

/* MOBILE PHONE  */

@media only screen and (max-width: 768px) {
    .mylogo {
        height: 30px;
        margin-top: 20px;
        padding: 0;
    }
    .social-media-wrapper .btn-info {
        justify-content: center;
    }
    #media-div {
        background-color: #0099CC;
    }
    .social-icon-wrapper {
        padding-left: 100px;
    }
    #btn-resume {
        padding-left: 70px;
    }
    .myname li {
        font-size: 1.3em;
    }
    #social-media-icon {
        width: 40px;
        top: 30%;
    }
    #social-media-icon i {
        font-size: 25px;
        padding: 8px 0 0 6px;
    }
    .about-me {
        padding-right: 10px;
        text-align: center;
    }
    .portfoliopic {
        margin: 30px auto;
    }
    .about-me h2 {
        text-align: center;
    }
    #full-stack h1 {
        font-size: 3.5em;
        text-transform: uppercase;
        font-weight: bolder;
    }
    #full-stack h2 {
        font-size: 18px;
        text-transform: uppercase;
    }
    #resumeContainer button {
        background-color: rgb(75, 73, 73);
        padding: 10px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 2px solid #fff;
    }
    #resumeContainer i {
        font-size: 25px;
        color: #fff;
    }
    #resumeContainer i:hover {
        font-size: 25px;
        color: #6fa4c7;
    }
    .resume {
        color: #fff;
        font-weight: bold;
        /* font-family: 'Sedgwick Ave Display', cursive; */
        font-size: 8px;
    }
    .threeD ul {
        display: none;
    }
    .fullstackdeveloper {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .flexboxlandingpage {
        padding-top: 45%;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #picme {
        width: 80px;
        border: 5px solid #fff;
    }
    #landingPageDiv {
        height: 90vh;
    }
    #arrowdown {
        margin-top: 60px;
    }
    #react-resume {
        margin-bottom: 10px;
        margin-left: 8%;
    }
    #myresumelink {
        margin-left: 8%;
    }
    .des {
        font-size: 1.2em;
        padding-top: 10px;
        padding-right: 25px;
        text-align: center;
    }
}

/* 1.1. LARGE DEVICES, WIDE SCREENS */

@media screen and (max-width: 1199px) {}

@media screen and (min-width: 992px) {
    /* VERTICAL CENTERING */
    .row--md-vc>div {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }
}

/* 1.2. MEDIUM DEVICES, DESKTOPS */

@media screen and (max-width: 991px) {
    /* TIMELINE ITEMS */
    .timeline--items>li {
        width: 100%;
        margin-left: 0;
    }
    .timeline--items>li:before {
        left: 13px;
    }
    .timeline--items>li:nth-child(even) {
        padding-left: 80px;
        padding-right: 0;
    }
    .timeline--items>li:nth-child(even):before {
        left: 13px;
        right: auto;
    }
    .timeline--items>li:nth-child(even) .timeline--item:before {
        left: -80px;
        right: auto;
    }
    .timeline--item .icon {
        left: -85px;
    }
    .timeline--items>li:nth-child(even) .timeline--item .icon {
        left: -85px;
        right: auto;
    }
    .timeline--items>li:nth-child(even):last-child:after {
        left: 0;
        right: auto;
    }
    /* COMMENT ITEMS */
    .comment--items .comment--items {
        padding-left: 0;
    }
    /* HEADER SECTION */
    .header--navbar .navbar-header {
        float: none;
    }
    .header--navbar .navbar-toggle {
        display: block;
    }
    .header--navbar .navbar-collapse {
        display: none !important;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-width: 720px;
        max-height: 320px;
        margin: 0 auto;
        padding: 15px;
        background-color: #181818;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        overflow: auto !important;
    }
    .header--navbar .navbar-collapse.collapsing, .header--navbar .navbar-collapse.in {
        display: block !important;
    }
    .header--nav-links {
        float: none !important;
        padding-top: 0;
        padding-bottom: 0;
    }
    .header--nav-links>li {
        float: none;
    }
    .header--nav-links>li+li {
        margin-top: 20px;
    }
    .header--nav-links>li>a {
        display: block;
    }
    .header--nav-links>li>a:hover:before, .header--nav-links>li.active>a:before {
        display: none;
    }
    .header--nav-links>.dropdown>.dropdown-menu {
        float: none;
        position: relative;
        box-shadow: none;
    }
    .header--nav-links>.dropdown>.dropdown-backdrop {
        display: none;
    }
    /* POST ITEM */
    .post--date+.post--title .h3 {
        margin-top: -8px;
    }
    .img--block img {
        border-radius: 5%;
        max-width: 350px;
        margin: auto;
    }
}

/* 1.3. SMALL DEVICES, TABLETS */

@media screen and (max-width: 767px) {
    /* TIMELINE ITEMS */
    .timeline--item .table tbody tr td {
        display: block;
    }
    .timeline--item .table tbody tr td+td {
        border-top-width: 0;
    }
    /* HEADER SECTION */
    .header--navbar .navbar-header {
        margin-left: 0;
        margin-right: 0;
    }
    .header--navbar .navbar-collapse {
        max-width: none;
    }
    #landingPageDiv {
        display: none;
    }
}

/* 1.4. SMALL DEVICES, SMARTPHONES */

@media screen and (max-width: 480px) {
    /* COL XXS */
    .col-xxs-12 {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    /* COMMENT LIST */
    .comment--item .img {
        float: none;
        margin-bottom: 20px;
    }
    .comment--item .img:before {
        top: 0;
        left: 50%;
        right: auto;
        bottom: -20px;
        margin-top: 0;
        margin-left: -1px;
        height: auto;
        width: 1px;
    }
    /* POST ITEM */
    .post--share, .post--nav {
        float: none;
    }
    .post--nav {
        margin-top: 15px;
    }
    /* 404 CONTENT */
    .f0f--content .buttons .or {
        display: block;
    }
}

/* 1.5. CUSTOM, IPHONE RETINA */

@media screen and (max-width: 380px) {}